@import "../../assets/css/variables";
.wrapper-socialBtns {
  display: flex;
  margin-top: 15px;
  &>div,
  &>a {
    margin-left: 7px !important;
  }
  svg g {
    color: white;
  }
  .share-whatsapp,
  .share-mail {
    display: flex !important;
    align-items: center;
    justify-content: center;
    &.share-whatsapp {
      background: #4fbf49 !important;
    }
    &.share-mail {
       background: #00a0a0 !important;
    }
    border-radius: 50%;
  }
}
