 


/*-----------------------------------------------
                    Sizes
-----------------------------------------------*/

$containerSize: 80%;
$headerlogo-height: 50px;
$headerPadding: 7px;
$fontSize: 24px;

$large: 1.83em;
$normal: 1em;
$small: 0.75em;


/*-----------------------------------------------
                   Colors
-----------------------------------------------*/

$black: #030303;
$gray: #707070;
$bg-gray: #f4f4f4;
$gray-light: #b3b3b3;
$yellow:linear-gradient(to right, #7520C9, #0A4BF2);
$green: #409fa3;
$red: #FB6a65;
$orange: #ffc876;
$light-gray: #ebebeb;

$border-color: #e5e5e5;
 

/*-----------------------------------------------
                    Fonts
-----------------------------------------------*/
